<div class="list row">
    <div class="col-md-8">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="title" />
            <div class="input-group-append">
                <button class="btn btn-primary ml-3" type="button" (click)="searchTitle()">
                    Search
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h4>Tutorials List</h4>
        <p *ngIf="!tutorials">There are no tutorials to show</p>
        <ul *ngIf="tutorials" class="list-group">
            <a class="list-group-item tutorial-item" routerLink="/tutorials/{{ tutorial.id }}"
             *ngFor="let tutorial of tutorials;">
                {{ tutorial.title }}
            </a>
        </ul>

        <button class="m-3 btn btn-sm btn-danger" (click)="removeAllTutorials()">
            Remove All
        </button>
    </div>
</div>